<!doctype html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <title>Iron.io and DocRaptor example</title>

</head>
<body style="margin: 0;font-family: &quot;Lucida Grande&quot;, Arial, Helvetica, sans-serif;font-size: 13px;line-height: 18px;color: #333;background-color: #fff;">
 <table class="table" width="100%" cellpadding="0" cellspacing="0" style="*zoom: 1;border-collapse: collapse;font-family: &quot;Lucida Grande&quot;, Arial, Helvetica, sans-serif;font-size: 13px;line-height: 18px;color: #333;background-color: #fff;">
        <tr>
            <td class="navbar" style="background-color: #6181aa;font-weight: 700;color: #fff;display: block;font-size: 20px;padding: 10px 20px;vertical-align: middle;">
                <a href="http://www.iron.io/">Iron.io</a> and <a href="https://docraptor.com/">DocRaptor</a> in perfect harmony.<br />
            </td>
        </tr>
        <tr>
            <td class="page-header" style="background-color: #eee;border: 1px solid #e5e5e5;text-align: left;font-size: 20px;padding: 10px 20px;vertical-align: middle;">
                <%=file_name %>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px 20px;vertical-align: middle;">
                <h2 style="margin: 0;font-weight: 700;color: #222;line-height: 18px;margin-top: 20px;font-size: 24px;">Hello <%=to_fullname %>!</h2>
                <p class="lead" style="margin-bottom: 20px;font-size: 16px;font-weight: 200;line-height: 24px;">
                    Your PDF is ready and attached.
                </p>
            </td>
        </tr>
        <tr><td style="padding: 10px 20px;vertical-align: middle;"><p>&nbsp;</p></td></tr>
        <tr><td style="padding: 10px 20px;vertical-align: middle;font-size: 10px;"><p>Example by <a href="https://twitter.com/larskrantz">@larskrantz</a></p></td></tr>
    </table>
</body>
</html>
